<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지역검색 WishList</title>
    <!-- bootstrap(css) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"></script>
    <!-- jQuery(js) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- vue(js) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <br>
    <div class="container">
        <!--  검색 영역  -->
        <div class="row">
            <!--  검색 상자  -->
            <div class="col-md-8">
                <input type="text" id="searchBox" class="form-control">
            </div>
            <!--  검색 버튼  -->
            <div class="col-md-4">
                <button type="button" id="searchButton" class="btn btn-primary" style="width: 100%;">검색</button>
            </div>
        </div>

        <br>
        <!--  검색결과 영역  -->
        <div class="row" id="search-result">
            <!--  검색 이미지 결과 화면  -->
            <div class="col-md-8">
                <img v-bind:src="search_result.imageLink" style="width: 730px; height: 500px;" alt="검색결과 이미지"/>
            </div>
            <!--  검색   -->
            <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="title">{{ search_result.title }}</li>
                    <li class="list-group-item">{{ search_result.category }}</li>
                    <li class="list-group-item">{{ search_result.jibunAddress }}</li>
                    <li class="list-group-item">{{ search_result.roadAddress }}</li>
                    <li class="list-group-item"><a v-bind:href="search_result.homepageLink" target="_blank">홈페이지</a></li>
                </ul>
                <!--  추가 버튼  -->
                <button type="button"class="btn btn-primary" id="wishButton"
                        style="position: absolute; bottom: 0px; width: 100%;">위시리스트 추가</button>
            </div>
        </div>
        <br>
        <!--  나의 맛집리스트 라벨  -->
        <div class="row">
            <div class="col-md-12 alert alert-primary" id="wishList" style="text-align: center;">
                나의 맛집 리스트
            </div>
        </div>
        <br>
        <!--  나의 맛집리스트 영역  -->
        <div id="wish-list-result">
            <div v-for="(wish, idx) in wish_list" :key="idx" class="row">
                <!--  위시리스트 이미지 화면  -->
                <div class="col-md-8">
                    <img v-bind:src="wish.imageLink" style="width: 730px; height: 550px;" alt="위시리스트 이미지"/>
                </div>
                <!--  위시리스트 텍스트 화면   -->
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">타이틀: {{ wish.title }}</li>
                        <li class="list-group-item">카테고리: {{ wish.category }}</li>
                        <li class="list-group-item">지번주소: {{ wish.jibunAddress }}</li>
                        <li class="list-group-item">도로명주소: {{ wish.roadAddress }}</li>
                        <li class="list-group-item">방문여부: {{ wish.visitIs }}</li>
                        <li class="list-group-item">방문횟수: {{ wish.visitCount }}</li>
                        <li class="list-group-item">마지막 방문날짜: {{ wish.lastVisitDate | yyyyMMddHHmmss }}</li>
                        <li class="list-group-item"><a v-bind:href="wish.homepageLink" target="_blank">홈페이지</a></li>
                    </ul>
                    <button type="button" class="btn btn-primary"
                            :id="`visitCountAdd-${idx}`" :idx="idx"
                            @click="visitCntAdd(`${idx}`)"
                            style="width: 100%;" >방문 추가</button>
                    <br><br>
                    <button type="button" class="btn btn-primary"
                            :id=`wishListDelete-${idx}` :idx="idx"
                            @click="delWishList(`${idx}`)"
                            style="width: 100%;" >리스트 삭제</button>
                    <br><br>
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
</body>
<script src="/js/main.js"></script>
</html>