<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">
  <!-- 회원정보 등록 -->
  <insert id="insertMember">
    insert into tbl_member (
<!--        mno,-->
        username,
        password,
        email,
        role,
        kor_name,
        provider,
        provider_ID
    )
    values (
<!--        seq_member.nextval,-->
        #{username},
        #{password},
        #{email},
        #{role},
        #{korName},
        #{provider},
        #{providerId}
    )
  </insert>

  <!-- 회원정보 조회 -->
  <select id="selectByUserName" resultType="org.zerock.domain.MemberVO">
    select
        mno,
        username,
        password,
        email,
        role,
        kor_name as korName,
        provider,
        provider_ID as providerId
    from tbl_member
    where username = #{username}
  </select>
</mapper>